<!DOCTYPE html>
<html lang="en">
<body>
    <!-- navigation bar -->
    <nav>
        <ul class="menu">
<!-- 
            <a href="https://chzzk.naver.com/7ce8032370ac5121dcabce7bad375ced" target="_blank">풍월량</a>
            <a href="https://chzzk.naver.com/live/d313d208af312efb8dc7184d9564be3d" target="_blank">요룰레히</a>
 -->
            <a href="/stockList">주식 대상 조회</a>
            <a href="/stockSimul">주식 시뮬레이션</a>
            <!-- <li>
                <a href="#" target='_blank'>MENU 2</a>
            </li>
            <li>
                <a href="#" target='_blank'>MENU 3</a>
                <ul class="depth_1">
                    <li><a href="#" target='_blank'>MENU 3_1</a></li>
                    <li><a href="#" target='_blank'>MENU 3_2</a></li>
                </ul>
            </li> -->
        </ul>
    </nav>
</body>    